<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/src/index.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <label>Email:</label>
      <input type="email" name="email" required /><br />
      <label>Password:</label>
      <input type="password" name="password" required /><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
